<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">        
             <h2 class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px"
             >HardwarePark</h2>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Fahim Seeker</h3>
      </div>

      <div class="text-center">@fseeker</div>
      <div class="text-center">
        <a href="http://github.com/fseeker">Github</a>
      </div>
    </div>
  </div>
</div>
